<nav class="w-full dark:text-white bg-white dark:bg-gray-800 shadow">
  <div class="h-full flex items-center justify-between px-6 py-4">
    <div>
      <a href="javascript:;" class="text-2xl font-semibold">EulCSS</a>
    </div>

    <div class="hidden sm:flex space-x-4">
      <a href="javascript:;" class="font-semibold">Home</a>
      <a href="javascript:;" class="font-semibold">About</a>
      <a href="javascript:;" class="font-semibold">Services</a>
      <a href="javascript:;" class="font-semibold">Contact</a>
    </div>
  </div>
</nav>