<nav class="w-full dark:text-white bg-white dark:bg-gray-800 shadow">
  <div class="h-full flex items-center justify-between px-6 py-4">
    <div class="flex items-end space-x-4">
      <div>
        <a href="javascript:;" class="text-2xl font-semibold">EulCSS</a>
      </div>

      <div class="hidden sm:flex space-x-4">
        <a href="javascript:;" class="font-semibold">Home</a>
        <a href="javascript:;" class="font-semibold">About</a>
        <a href="javascript:;" class="font-semibold">Services</a>
        <a href="javascript:;" class="font-semibold">Contact</a>
      </div>
    </div>

    <div>
      <input type="text"
        class="w-full px-4 py-1 text-gray-700 bg-white border border-gray-300 rounded-md dark:bg-gray-800 dark:text-gray-300 dark:border-gray-600 focus:border-indigo-500 dark:focus:border-indigo-500 focus:outline-none focus:ring transition"
        placeholder="Search">
    </div>
  </div>
</nav>