<nav>
  <ul class="flex space-x-2">
    <!-- previous -->
    <li class="flex items-center justify-center border-2 border-sky-500 text-sky-500 hover:bg-sky-500 hover:text-white">
      <a href="javascript:;" class="px-3 py-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
        </svg>
      </a>
    </li>

    <!-- next -->
    <li class="flex items-center justify-center border-2 border-sky-500 text-sky-500 hover:bg-sky-500 hover:text-white">
      <a href="javascript:;" class="px-3 py-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
        </svg>
      </a>
    </li>
  </ul>
</nav>