<nav>
  <ul class="flex space-x-1">
    <li>
      <a href="javascript:;" class="block w-8 h-8 border-2 rounded-full border-sky-500 hover:bg-sky-500 transition"></a>
    </li>

    <li>
      <a href="javascript:;" class="block w-8 h-8 p-[2px] border-2 rounded-full border-sky-500 transition">
        <div class="w-full h-full rounded-full bg-sky-500"></div>
      </a>
    </li>

    <li>
      <a href="javascript:;" class="block w-8 h-8 border-2 rounded-full border-sky-500 hover:bg-sky-500 transition"></a>
    </li>

    <li>
      <a href="javascript:;" class="block w-8 h-8 border-2 rounded-full border-sky-500 hover:bg-sky-500 transition"></a>
    </li>

    <li>
      <a href="javascript:;" class="block w-8 h-8 border-2 rounded-full border-sky-500 hover:bg-sky-500 transition"></a>
    </li>
  </ul>
</nav>